.project-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 5%;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
    background-color: #332f4a;
    transition: 0.5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #332f4a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:  translateY(100%);
    transition: 0.5s ease;
}
.project-box:hover .project-layer {
    transform:  translateY(0);
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: theme('colors.pink');
    border-radius: 50%;
    margin-top: 5%;
}